/* CSS VARIABLES */

:root {
    --primary: #141414;
    --primaryTransp: #141414b8;
    --light: #F3F3F3;
    --dark: #686868;
}

* {
    font-family: "FontRegular", Optima, Helvetica, sans-serif;
}

@font-face {
    font-family: "FontRegular";
    src: local("FontRegular"), url("./assets/fonts/NetflixSans-Regular.otf") format("truetype");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "FontBold";
    src: local("FontBold"), url("./assets/fonts/NetflixSans-Bold.otf") format("truetype");
    font-weight: bolder;
    font-display: block;
}

.font-bold {
    font-weight: bold;
}

html,
body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
}

.fond-noir {
    background-color: var(--primary);
    color: var(--light);
}

.couleur-header {
    background-color: var(--primaryTransp);
    color: var(--light);
}

.movieRow {
    margin-bottom: 30px;
}

.movieRow h2 {
    margin: 0px 0px 0px 30px;
}

.movieRow--listarea {
    overflow-x: hidden;
}

.movieRow--list {
    width: 9999999999px;
}

.movieRow--item {
    display: inline-block;
}

.movieRow--item img {
    width: 100%;
    transform: scale(0.9);
}

.movieRow--item img:hover {
    transform: scale(1);
}

.movieRow--left {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: all ease 0.5s;
}